if (errors)
  each error in errors
    = __(error)

form(role="form", action="/auth/local/register", method="post")
  input(type="text", name="organization", placeholder="Organization")
  input(type="text", name="username", placeholder="Username")
  input(type="text", name="email", placeholder="Email")
  input(type="password", name="password", placeholder="Password")
  button(type="submit").
    Sign up
