extends layout
block scripts
  
  script.

    //- angular app
    var app = angular.module('App', ['ngRoute', 'ngCookies', 'mgcrea.ngStrap', 'ngResource']);
    
    //- app run
    app.run(function($rootScope, $location, Auth) {         
      $rootScope.$on('$routeChangeStart', function(event, next) {
        if (!Auth.isAuth()) $location.path('/login');
      });
    });
    
    //- Auth factory    
    app.factory('Auth', ['$cookies', function($cookies) {
      var Auth = {};
      
      Auth.setUser = function() {
        var tomorrow = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
        $cookies.put('auth', true, { 'expires': tomorrow });
      };
      
      Auth.getUser = function() {
        return $cookies.get('auth');
      };
      
      Auth.isAuth = function() {
        return !!Auth.getUser();
      };
      
      Auth.removeUser = function() {
        $cookies.remove('auth');
      };
      
      return Auth;
    }]);
    
    //- Promo factory    
    app.factory('Promo', function($resource) {
      return $resource('/promo/:id', { id: '@id' }, { query: { method: 'get' } });
    });

    //- app config
    app.config(function($routeProvider, $httpProvider, $cookiesProvider) {
      $routeProvider
        .when('/login', { templateUrl: 'views/admin/login.html', controller: 'LoginController' })
        .when('/logout', { templateUrl: 'views/admin/login.html', controller: 'LogoutController' })
        .when('/promos', { templateUrl: 'views/admin/promos.html' })
        .when('/promos/create', { templateUrl: 'views/admin/promos/create.html', controller: 'CreatePromoController' })
        .otherwise({ redirectTo: '/promos' });
        
      $httpProvider.interceptors.push(function() {
        return {
          response: function(res) { 
            if (res.status == 403) {
              $cookies.remove('auth');
              $location.path('/login');
            }
            
            return res;
          }
        };
      });
    });
    
    //- LoginController    
    app.controller('LoginController', function($scope, $location, $alert, $http, Auth) {
      
      if (Auth.getUser()) $location.path('/promos');

      $scope.user = {};

      $scope.msg = false;
      
      $scope.submit = function() {
        $scope.msg = false;

        if (!$scope.user.password || !$scope.user.identifier) return;
      
        $http.post('/auth/local', $scope.user).then(function(res) {
          if (res.data.success) { 
            Auth.setUser(); 
            $location.path('/promos');
          } else {
            $scope.msg = true;
          }
        });    
      };
    });
    
    //- LogoutController 
    app.controller('LogoutController', function($scope, $location, $alert, Auth) {
      Auth.removeUser();
      $location.path('/login');
      $alert({ container: '.container', title: 'Oupss!', content: 'Logged out', placement: 'top', type: 'warning', show: true });
    });
    
    //- HomeController 
    app.controller('HomeController', function($scope, Promo) {
      $scope.promos = Promo.query();
    });
    
    //- CreatePromoController 
    app.controller('CreatePromoController', function($scope, $location, Promo) {
      $scope.submit = function() {
        var promo = new Promo($scope.promo);
        promo.$save().then(function() {
          $location.path('/promos');
          $alert({ container: '.container', title: 'Yes!', content: 'promo create', placement: 'top', type: 'success', show: true });
        });
      };
    });
    
