doctype
html(lang='en' ng-app='App')
head
  meta(charset='utf-8') 
  meta(http-equiv='X-UA-Compatible', content='IE=edge')  
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    
  title Gapout
  
  // angular-motion
  link(href='/bower_components/angular-motion/dist/angular-motion.min.css' rel='stylesheet')
  link(href='/styles/importer.css' rel='stylesheet')
    
  block styles
    
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')   
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      
body
  
  div(ng-view)
        
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/angular-route/angular-route.min.js')
  script(src='/bower_components/angular-resource/angular-resource.min.js')
  script(src='/bower_components/angular-cookies/angular-cookies.min.js')
  script(src='/bower_components/angular-animate/angular-animate.min.js')
  script(src='/bower_components/angular-strap/dist/angular-strap.min.js')
  script(src='/bower_components/angular-strap/dist/angular-strap.tpl.min.js')
    
  block scripts

    
