extends layout
block scripts
  
  script.

    //- angular app
    var app = angular.module('App', ['ngRoute', 'ngCookies', 'mgcrea.ngStrap', 'ngResource']);
    
    //- app config
    app.config(function($routeProvider) {
      $routeProvider
        .when('/', { templateUrl: '/views/promo/index.html', controller: 'HomeController' });
    });
    
    //- HomeController 
    app.controller('HomeController', function($scope) {
      
      $scope.spin = false;
      $scope.angle = 100;
      
    });

    
