body {
  letter-spacing: 1px;
}


/* Helpers */
.mgtop-ten {
  margin-top: 10px;
}

.mgtop-twenty {
  margin-top: 20px;
}

.mgtop-thirty {
  margin-top: 30px;
}

.mgtop-forty {
  margin-top: 40px;
}

.mgtop-fifty {
  margin-top: 50px;
}

.mgbot-ten {
  margin-bottom: 10px;
}

.mgbot-twenty {
  margin-bottom: 20px;
}

.mgbot-thirty {
  margin-bottom: 30px;
}

.mgbot-fifty {
  margin-bottom: 50px;
}


/* Form */
.ui.form .ui.checkbox label {
  color: @greyOne;
}

.ui.form a, .ui.form a:visited {
  color: @greyOne;
}

.ui.form a:hover {
  color: @secondary;
}


/* Login */
.loginback {
  background: url(../images/login/loginback.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
